<p id="notice"><%= notice %></p>

<h1>Listing Restauracjes</h1>

<table>
  <thead>
    <tr>
      <th>Id rest</th>
      <th>Nazwa</th>
      <th>Id obszaru</th>
      <th>Ulica</th>
      <th>Numer lokalu</th>
      <th>Kod pocztowy</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restauracjes.each do |restauracje| %>
      <tr>
        <td><%= restauracje.ID_REST %></td>
        <td><%= restauracje.NAZWA %></td>
        <td><%= restauracje.ID_OBSZARU %></td>
        <td><%= restauracje.ULICA %></td>
        <td><%= restauracje.NUMER_LOKALU %></td>
        <td><%= restauracje.KOD_POCZTOWY %></td>
        <td><%= link_to 'Show', restauracje %></td>
        <td><%= link_to 'Edit', edit_restauracje_path(restauracje) %></td>
        <td><%= link_to 'Destroy', restauracje, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restauracje', new_restauracje_path %>
