<p id="notice"><%= notice %></p>

<h1>Listing Pracownicies</h1>

<table>
  <thead>
    <tr>
      <th>Id pracownika</th>
      <th>Id rest</th>
      <th>Id typu</th>
      <th>Imie</th>
      <th>Nazwisko</th>
      <th>Zarobki</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pracownicies.each do |pracownicy| %>
      <tr>
        <td><%= pracownicy.ID_PRACOWNIKA %></td>
        <td><%= pracownicy.ID_REST %></td>
        <td><%= pracownicy.ID_TYPU %></td>
        <td><%= pracownicy.IMIE %></td>
        <td><%= pracownicy.NAZWISKO %></td>
        <td><%= pracownicy.ZAROBKI %></td>
        <td><%= link_to 'Show', pracownicy %></td>
        <td><%= link_to 'Edit', edit_pracownicy_path(pracownicy) %></td>
        <td><%= link_to 'Destroy', pracownicy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pracownicy', new_pracownicy_path %>
