<p id="notice"><%= notice %></p>

<p>
  <strong>Id typu:</strong>
  <%= @typy_pracownika.ID_TYPU %>
</p>

<p>
  <strong>Nazwa typu:</strong>
  <%= @typy_pracownika.NAZWA_TYPU %>
</p>

<%= link_to 'Edit', edit_typy_pracownika_path(@typy_pracownika) %> |
<%= link_to 'Back', typy_pracownikas_path %>
